<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561193315321-evl75tujkqpkprmv6lbgmv562sf5g29t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561193315321-evl75tujkqpkprmv6lbgmv562sf5g29t</string>
	<key>API_KEY</key>
	<string>AIzaSyDmRFlPn5kTAKPXL3PM90Y8jRY7VtFiWuA</string>
	<key>GCM_SENDER_ID</key>
	<string>561193315321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mads.pushex.pushEx</string>
	<key>PROJECT_ID</key>
	<string>com-mads-pushex</string>
	<key>STORAGE_BUCKET</key>
	<string>com-mads-pushex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561193315321:ios:dc9397f987ffa34cb82b28</string>
</dict>
</plist>